name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: read

jobs:
  #
  # golangci-lint
  #
  linters:
    name: Linters
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: src/github.com/containerd/ttrpc
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.7.2
          args: --timeout=5m
          skip-cache: true
          working-directory: src/github.com/containerd/ttrpc

  #
  # Project checks
  #
  project:
    name: Project Checks
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: src/github.com/containerd/ttrpc
          fetch-depth: 25
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'

      - uses: containerd/project-checks@d7751f3c375b8fe4a84c02a068184ee4c1f59bc4 # v1.2.2
        with:
          working-directory: src/github.com/containerd/ttrpc

  #
  # Build and Test project
  #
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [oldstable, stable]

    name: ${{ matrix.os }} / ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        path: src/github.com/containerd/ttrpc
        fetch-depth: 25
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go }}

    - name: Test
      working-directory: src/github.com/containerd/ttrpc
      run: |
        make test

    - name: Coverage
      working-directory: src/github.com/containerd/ttrpc
      run: |
        make coverage TESTFLAGS_RACE=-race

    - name: Integration Tests
      working-directory: src/github.com/containerd/ttrpc
      run: |
        make integration

  #
  # Run Protobuild
  #
  protobuild:
    name: Run Protobuild
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        path: src/github.com/containerd/ttrpc
        fetch-depth: 25
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 'stable'
      id: go

    - name: Setup Go binary path
      shell: bash
      run: |
        echo "GOPATH=${{ github.workspace }}" >> $GITHUB_ENV
        echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

    - name: Install dependencies
      working-directory: src/github.com/containerd/ttrpc
      run: |
        sudo make install-protobuf
        make install-protobuild

    - name: Install protoc-gen-go-ttrpc
      working-directory: src/github.com/containerd/ttrpc
      run: |
        make install

    - name: Run Protobuild
      working-directory: src/github.com/containerd/ttrpc
      run: |
        make check-protos
